<%- include('./partials/header.ejs', {data: {title} }); %>


    <main>
        <section class="data-section my-8">
            <div class="container mx-auto px-3 md:px-0">
                <img src="image/logoterm.jpg" class="max-w-[220px] w-full mx-auto text-center rounded shadow" alt="">
                <h2 class="text-center text-3xl font-semibold mb-4">Service Desk Portal </h2>
                <div class="max-w-4xl w-full mx-auto mb-4">
                    <a href="/add" class="py-1 px-5 rounded shadow bg-sky-700 text-white">Raise New Ticket +</a>
                </div>
                <div class="flex justify-center items-center">
                    <table class="table-fixed">
                        <thead class="bg-slate-200">
                            <tr>
                                <th class="py-1 px-3">INCIDENT ID#</th>
                                <th class="py-1 px-3">CREATED BY:</th>
                                <th class="py-1 px-3">Assigned To:</th>
                                <th class="py-1 px-3">Description:</th>
                                <th class="py-1 px-3">Date:</th>
                                <th class="py-1 px-3">State:</th>
                                <th class="py-1 px-3">Edit</th>
                                <th class="py-1 px-3">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0; i < data.length; i++){ %>
                                <tr
                                    class="border-b-slate-200 border-b-2 text-center <%= data[i].state == 'cancel' ? 'bg-red-500' : '' %> <%= data[i].state == 'complete' ? 'bg-green-600': '' %> <%= data[i].state == 'schedule' ? 'bg-sky-600': '' %>">
                                    <td class="pr-2">
                                        #<%= data[i]._id %>
                                    </td>
                                    <td>
                                        <%= data[i].createdBy %>
                                    </td>
                                    <td>
                                        <%= data[i].assignedTo %>
                                    </td>
                                    <td>
                                        <%= data[i].description %>
                                    </td>
                                    <td>
                                        <%= data[i].date %>
                                    </td>
                                    <td>
                                        <%= data[i].state %>
                                    </td>
                                    <td>
                                        <a href="/update/<%= data[i]._id %>"
                                            style="font-size: 20px; text-decoration: none;">
                                            &#9998;
                                        </a>
                                    </td>
                                    <td>
                                        <button onclick="handleDelete('<%= data[i]._id %>')"
                                            style="border: none; font-size: 20px;">
                                            &#128465;
                                        </button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <script>
            const handleDelete = (id) => {
                fetch(`/${id}`, {
                    method: "DELETE",
                }).then(res => res.json()).then(data => data ? window.location.href = "/" : console.log(data))
            }
        </script>

    </main>


    <%- include('./partials/footer.ejs'); %>